<div class="header-component">
  <div class="header-container">
    <div class="header-row">
      <div class="header-logo">
        <a href="" class="header-logo-image">Digikala</a>
      </div>
      <div class="header-search">
        <div class="search">
          <div class="header-search-form">
            <input type="text" autocomplete="false" matInput
                   placeholder="{{'ufarm.header.searchInputPlaceholder' |translate}}">
            <mat-icon class="search-button">search</mat-icon>
          </div>
        </div>
      </div>
      <div class="header-action">
        <a href="" class="header-faq">
          فروشنده شوید
        </a>
        <a href="/faq/" class="header-faq">
          سوالی دارید؟
        </a>
        <div class="header-btn-container">
          <div class="header-btn-user">
            <span>ورود / ثبت&zwnj;نام</span>
            <mat-icon class="expand-icon">expand_more</mat-icon>
            <!--            <mat-icon>shopping_cart</mat-icon>-->

          </div>
        </div>
        <div class="header-btn-divider"></div>
        <div id="mini-cart" class="buy-btn-container">
          <div class="header-btn-adding">
            <mat-icon class="shopping-icon">shopping_cart</mat-icon>
            <span>
            سبد خرید
             </span>
            <span class="item-number">0</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="nav-bar">
    <div class="nav-line"></div>
    <div class="container">
      <div class="nav-row">
        <ul class="nav-list">
          <li class="nav-list-category">
            <ul class="nav-list-category-item">
              <li class="nav-list-category">کالای دیجیتال</li>
              <li class="nav-list-category">آرایشی و بهداشتی</li>
              <li class="nav-list-category">خودرو، ابزار و اداری</li>
              <li class="nav-list-category">مد و پوشاک</li>
              <li class="nav-list-category">خانه و آشپزخانه</li>
              <li class="nav-list-category">فرهنگ و هنر</li>
              <li class="nav-list-category">اسباب بازی و کودک</li>
              <li class="nav-list-category">ورزش و سفر</li>
              <li class="nav-list-category">خوردنی و آشامیدنی</li>
            </ul>
          </li>
          <li class="nav-list-promotion">فروش ویژه</li>
        </ul>
      </div>
    </div>
  </div>
</div>
