/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~material-design-icons/iconfont/material-icons.css';
@import '~ngx-toastr/toastr';
//@import "~@fortawesome/fontawesome-free/css/all.scss";
@import './assets/scss/variables.scss';

p {
  font-family: $baseFontFamily;
  //font-family: "Segoe UI";
}

.mat-drawer-inner-container {
  overflow: hidden !important;
}

.menu-collapse {

  .mat-expansion-panel-body {
    padding: 0 0.5rem 0.5rem;
  }
}

.mat-expansion-panel-header {
  height: 32px !important;
  //background-color: lightgray !important;
}

.mat-expansion-panel-header.mat-expanded {
  height: 30px !important;
}

.mat-expansion-panel-body {
  background-color: ghostwhite !important;
  padding-top: -0.5rem !important;
  //margin-top: -1.5rem;
}

.mat-expansion-panel-header-title {
  padding-left: 0.25rem !important;
}

#toast-container {
  margin-top: 1rem;
}


.mat-bread-crumb {
  background-color: transparent !important;

  .mat-list-item-content {
    color: white;
  }

  .mat-bread-crumb-list-item {
    color: white;
    font-size: 13px !important;
  }

  a.mat-bread-crumb-list-item {
    text-decoration: none;
    padding: 0.3rem;
    border-radius: $border-radius;

    &:hover {
      background-color: $headerBgDarkenColor;
    }
  }
}
